body{
  margin: 0;
  padding: 0;
  font-size: 25px;

}

nav{
  background-color: rgb(46, 28, 63);
  color: #fff;
  padding: 1rem;
  margin-bottom: 4rem;
}


#angle1, #angle2 ,#angle3{
  display: block;
  text-align:center;
  width: 50%;
  margin: 1rem 34rem 2rem 34rem;
  padding: 1rem;
  font-size: 20px;
  background-color: rgb(243, 228, 206);;
}

.label{
  margin: 1rem 34rem ;

}

button{
  padding: 1rem;
  margin:0rem 34rem;
  font-size: 23px;
}

h2{
  text-align: center;
  font-size: 50px
}

.output{
  margin-top: 3rem;
  margin-left: 60rem;
  padding: 3rem;

}

a{
  text-decoration: none;
  display: inline-block;
  padding: 1rem;
  color: #fff;
}

.question-container{
  padding: 2rem;
  margin: 2rem 20rem;
  border-radius: 10px;
  background-color: rgb(243, 228, 206);
}

#submit-btn{
  margin-left: 20rem;
  border-radius: 10px;
  background-color: rgb(46, 28, 63);
  color: white;
}

#output{
  padding: 1rem;
  margin-left: 19rem;
}

.hypo-container{
  margin: 3rem 30rem;
  background-color: rgb(243, 228, 206);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}

.hypo-container input{
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
}

.hypo-container button{
  margin: 1rem 25rem;
}

.hypo-output{
  margin: 1rem;
  padding: 1rem;
}
